<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Customers</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div class="background"></div>
    <main>
      <div class="allcustomers">
      <h2>All Customers</h2>
      <table>
        <thead>
          <tr>
            <th>Customer ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Favourite Icecream</th>
          </tr>
        </thead>
        <tbody>
          <% result.forEach(person => { %>
          <tr>
            <td><%= person.customerId %></td>
            <td><%= person.firstname %> <%= person.lastname %></td>
            <td><%= person.address %></td>
            <td><%= person.favouriteIcecream %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <a href="/"><button>Menu</button></a>
    </div>
    </main>
  </body>
</html>
