<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Query Result</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div class="background"></div>
    <main>
      <div class="customerdata"> 
      <h1>Customer Data</h1>
      <p>Customer ID: <%=result.customerId %></p>
      <p>Name: <%=result.firstname %> <%=result.lastname %></p>
      <p>Address: <%=result.address %></p>
      <p>Favourite Icecream: <%=result.favouriteIcecream %></p>
      <a href="/"><button>Menu</button></a>
      </div>
    </main>
  </body>
</html>
